@model IEnumerable<QLCongTrinh.Models.TienDo>

@{
    ViewBag.Title = "Tiến độ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table table-bordered">
    <tr class="table-info text-center">
        <th>
            @Html.DisplayNameFor(model => model.CongTrinh.TenCT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GhiChu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CongTrinh.TenCT)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.GhiChu)
        </td>
        <td align="center">
            <a href="@Url.Action("Details", new { id=item.MaCT })" class="btn btn-outline-info btn-sm text-black">
                <i class='bx bx-search-alt-2'></i>
            </a>
            <a href="@Url.Action("Edit", new { id=item.MaCT })" class="btn btn-primary btn-sm">
                <i class='bx bxs-pencil'></i>
            </a>
            <a href="@Url.Action("Delete", new { id=item.MaCT })" class="btn btn-danger btn-sm">
                <i class='bx bx-trash-alt'></i>
            </a>
        </td>
    </tr>
}

</table>
