@model IEnumerable<QLCongTrinh.Models.TaiKhoan>

@{
    ViewBag.Url = "Tài khoản";
    ViewBag.Title = "Tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table table-bordered">
    <tr class="table-active text-center">
        <th>
            @Html.DisplayNameFor(model => model.TenTaiKhoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatKhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenNguoiDung)
        </th>
        <th>
            Quyền
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenTaiKhoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNguoiDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quyen.TenQuyen)
            </td>
            <td align="center">
                <a href="@Url.Action("Details", new {id = item.MaTaiKhoan})" class="btn btn-outline-info btn-sm text-black">
                    <i class='bx bx-search-alt-2'></i>
                </a>
                <a href="@Url.Action("Edit", new {id = item.MaTaiKhoan})" class="btn btn-primary btn-sm">
                    <i class='bx bxs-pencil'></i>
                </a>
                <a href="@Url.Action("Delete", new {id = item.MaTaiKhoan})" class="btn btn-danger btn-sm">
                    <i class='bx bx-trash-alt'></i>
                </a>
            </td>
        </tr>
    }

</table>
